span {
  font-family: 'Montserrat', sans-serif;
}
/* Content */
/* Container */
.contain {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  bottom: 30px;
}

.contain h1 {
  text-align: center;
  font-size: 3rem;
  ;
  font-weight: 600;
  color: white;
  line-height: 1.2;
}

.span-txt {
  display: block;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 1px 1px 6px #cd2c13;
  padding-top: 20px;
}

.contain h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #020609;
}
/* Sign Up Form */
.form {
  margin: 0 auto;
  margin-top: 20px;
  min-width: 200px;
  max-width: 350px;
  min-height: 10vh;
  display: block;
  margin-bottom: 2rem;
  padding: 4rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px 19px -12px rgba(0, 0, 0, 0.72);
}

.login-form-forgot {
  white-space: nowrap;
  text-align: right;
  display: block;
}

.login-form-button {
  width: 100%;
  color: #F1F1F2;
  background-color: #12284C;
  border: none;
  height: 50px;
}

.button-hover:hover {
  background-color: #F1F1F2;
  border: 1px, solid, #C0C0C0;
  color: #FF5C35
}

.login-form input {
  height: 30px;
}
/* Navigation */
nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 10vh;
  background-color: white;
  box-shadow: 7px 7px 19px -12px rgba(0, 0, 0, 0.32);
}
nav li {
  list-style-type: none;
  padding-right: 60px;
}

nav a {
  text-decoration: none;
}

nav .logo {
  display: flex;
  width: 170px;
  padding: 0;
}

nav .logo a {
  display: flex;
  width: 150px;
  padding: 0;

}

nav .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav .nav-links a {
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

nav .apply-now a {
  display: block;
  width: 140px;
  height: 40px;
  background-color: #1890FF;
  border-radius: 18px;
  border: none;
  color: white;
  font-weight: 600;
  padding-top: 9px;
  text-align: center;
  margin: 0;
}

.apply-now a:hover {
  cursor: pointer;
  background-color: #48a7f9;
}

nav .burger {
  font-size: 1em;
  display: none;
  padding-right: 20px;
  ;
  cursor: pointer;
}

nav .burger span {
  font-weight: 500;
  padding-left: 4px;
}
/* Media Queries*/
@media (min-width: 320px) and (max-width: 403px) {

  .form {
    padding: 30px;
    margin: 0 auto;
  }

  nav .apply-now a {
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {

  .form {
    width: 350px;
  }

}

@media only screen and (max-width: 768px) {
  .contain {
    margin: 0 auto;
  }

  nav .form {
    border: 3px solid blue;
    margin: 0 auto;
  }

  nav .burger {
    display: block;
  }

  nav .apply-now a {
    margin: 0 auto;
  }

  nav .nav-links {
    z-index: 9999;
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    background: rgb(255, 255, 255);
    background: linear-gradient(-120deg, rgba(255, 255, 255, 1) 34%, rgba(222, 222, 222, 1) 100%);
    border-bottom: 1px solid lightgrey;
    width: 50%;
    padding: 20px;
    transform: translateX(-500px);
    box-shadow: 4px 4px 160px -1px rgba(0, 0, 0, 0.72);
  }
  nav .nav-links li {
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
  }
  nav .nav-links li:last-of-type {
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
  }
}
