/** @format */

html,
body,
body > div {
    /* the react root */
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

li {
    margin: 1.5em 0;
    padding: 0;
}

strong {
    /* used for event dates/times */
    margin-right: 3px;
}

.demo-app {
    display: flex;
    min-height: 100%;
    font-size: 1em;
}

.demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
}

.demo-app-sidebar-section {
    padding: 2em;
}

.demo-app-main {
    flex-grow: 1;
    padding: 3em;
}

.fc {
    /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
}

.cal-orange {
    background: #ffa500;
    border: none;
}
.cal-green {
    background: #7ed957;
    border: none;
}
.cal-red {
    background: #ff5757;
    border: none;
}
.cal-purple {
    background: #8c52ff;
    border: none;
}
.cal-blue {
    background: #38b6ff;
    color: white;
    border: none;
}
.cal-yellow {
    background: #ffec4e;
    border: none;
}

.fc-daygrid-dot-event .fc-event-title {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    font-weight: 700;
}
