
@import'~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Montserrat', sans-serif;
}
/* login */
 .login-form {
  max-width: 300px;
}
 .login-form-forgot {
  float: right;
}
 .ant-col-rtl .login-form-forgot {
  float: left;
}
 .login-form-button {
  width: 100%;
  color: #F1F1F2;
  background-color: #12284C;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
.button-hover:hover{
  background-color: #F1F1F2 ;
  border: 1px, solid, #C0C0C0;
  color: #FF5C35
}
.contain{
  border: solid 2px #F1F1F2;
  border-radius: 5%;
  margin-top: 30%;
  margin-left: 10%;
  padding: 40px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
