@import '~antd/dist/antd.css';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body,
h1,
h2{
	font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* login */
.contain h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align:center;
  }
  

.contain{
  max-width: 350px;
  border-radius: 10px;
  margin-left: 8%;
  margin-top:90px;
  padding: 60px;
  background-color:white;
  -webkit-box-shadow: 7px 7px 19px -12px rgba(0,0,0,0.72);
-moz-box-shadow: 7px 7px 19px -12px rgba(0,0,0,0.72);
box-shadow: 7px 7px 19px -12px rgba(0,0,0,0.72);
}

 .login-form-forgot {
  float: right;
}
 .ant-col-rtl .login-form-forgot {
  float: left;
}
 .login-form-button {
  width: 100%;
  color: #F1F1F2;
  background-color: #12284C;
  border: none;
}
.button-hover:hover{
  background-color: #F1F1F2 ;
  border: 1px, solid, #C0C0C0;
  color: #FF5C35
}


